@model PasswordValidation.Helpers.Validation.PasswordValidation

<ul>
    <li><i class="fas @(Model.PasswordsMatch ? "fa-check-circle" : "fa-times-circle")"></i> New Passwords match</li>
    <li><i class="fas @(Model.HasMinCharacters ? "fa-check-circle" : "fa-times-circle")"></i> Minimum of 10 characters in length</li>
    <li><i class="fas @(Model.HasUpperCase ? "fa-check-circle" : "fa-times-circle")"></i> Contains an uppercase character</li>
    <li><i class="fas @(Model.HasLowerCase ? "fa-check-circle" : "fa-times-circle")"></i> Contains a lowercase character</li>
</ul>