
@{
    ViewBag.Title = "Home";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6">
            <a href="@Url.Action("Set1","Home")" class="btn btn-primary btn-lg btn-block">Set One</a>
        </div>
        <div class="col-12 col-sm-6">
            <a href="@Url.Action("Set2","Home")" class="btn btn-primary btn-lg btn-block">Set Two</a>
        </div>
    </div>
</div>

