form {
    margin-top: 20px;

    input {
        background: $form-input-color;
        color: #fff;
        padding: 10px;
        border-radius: 2px;
        width: 100%;
        margin-bottom: 15px;
        border: 0;
        border-radius: 2px;
    }

    .btn-submit {
        color: #fff;
        background: $form-button-color;
        font-weight: 600;
        width: 100%;
        padding: 10px;

        &:hover {
            background: $heading-dark-color;
            border-color: $heading-dark-color;
        }
    }

    .form-field {
        position: relative;
        width: 100%;

        .fas {
            position: absolute;
            right: 10px;
            color: rgba(255,255,255,.3);
            font-size: 30px;
            top: 7px;
            cursor:pointer;
        }
    }
}
